@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --bg-color: #FFAF45;
    --primary-color: #FB6D48;
    --secundary-color: #D74B76;
}